/*html,
body {
    width: 100vw;
    overflow-x: hidden;
    font-size: 1em;
    font-family: 'Palanquin Dark', sans-serif;
}*/
/*Landing Page*/
/* Fonts
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Mallanna', sans-serif;
 */
